In [1]:
import  pandas as pd
import numpy as np

In [2]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

### Importer Inventaire

In [3]:
inv = pd.read_excel('Inventaire.xlsx',index_col=0)

In [4]:
inv.head(3)

,Symbole,Désignation,Emplacement,Qté Comp,Qté Exist,Prix U,Montant Compt,Montant Exis,U d'emploi,Etat,Unnamed: 11
nan,1RA6,Douille à aiguille de centrage réf 620065,-,nan,nan,NaN,nan,nan,NaN,v,nan
nan,1RA7,Douille d'étanchéité de culasse réf A11299,-,nan,nan,NaN,nan,nan,NaN,v,nan
nan,1RA8,Ressort de rappel de roue de distribution réf ...,-,nan,nan,NaN,nan,nan,NaN,v,nan

### mettre à jour l'incrémentation

In [5]:
inv.reset_index(drop=True,inplace=True)

In [6]:
inv.head()

,Symbole,Désignation,Emplacement,Qté Comp,Qté Exist,Prix U,Montant Compt,Montant Exis,U d'emploi,Etat,Unnamed: 11
0,1RA6,Douille à aiguille de centrage réf 620065,-,nan,nan,NaN,nan,nan,NaN,v,nan
1,1RA7,Douille d'étanchéité de culasse réf A11299,-,nan,nan,NaN,nan,nan,NaN,v,nan
2,1RA8,Ressort de rappel de roue de distribution réf ...,-,nan,nan,NaN,nan,nan,NaN,v,nan
3,1RA9,Vis rotule de culbuteur réf A1244,-,nan,nan,NaN,nan,nan,NaN,v,nan
4,1RA10,Soupape d'admission réf A1247A,-,nan,nan,NaN,nan,nan,NaN,v,nan

### Supprimer les colonnes inutiles

In [7]:
inv = inv.drop(['Qté Comp','Montant Compt','Unnamed: 11'],axis=1)

In [8]:
inv.head(3)

,Symbole,Désignation,Emplacement,Qté Exist,Prix U,Montant Exis,U d'emploi,Etat
0,1RA6,Douille à aiguille de centrage réf 620065,-,nan,NaN,nan,NaN,v
1,1RA7,Douille d'étanchéité de culasse réf A11299,-,nan,NaN,nan,NaN,v
2,1RA8,Ressort de rappel de roue de distribution réf ...,-,nan,NaN,nan,NaN,v

### Format Dataframe

In [9]:
inv.shape

(6471, 8)

## Retirer les éléments vendus

Ces éléments ne font plus partie de l'inventaire ou du RGM

### Extraire les éléments vendus

Etant donné que le fichier source ne respecte pas la casse 'v' VS 'V'.

In [10]:
vs = inv[(inv['Etat'] == 'v') | (inv['Etat'] == 'V')].index

In [11]:
vs.shape

(1205,)

Ceci donne un Dataframe des éléments vendus à soustraire de notre Dataframe Principal

### Soustraire les vendus du DF principal

In [13]:
inv.drop(vs,inplace=True)

In [14]:
inv.shape

(5266, 8)

## Retirer les éléments 'economat' et 'pharmacie'

### Extraire les éléments economat et pharmacie

Les éléments sont identifiés par 'c'

In [15]:
cs = inv[(inv['Etat'] == 'c')].index

In [18]:
cs.shape

(645,)

### Soustraire les éléments 'economat' et 'pharmacie' du DF principal

In [19]:
inv.drop(cs,inplace=True)

In [20]:
inv.shape

(4621, 8)

# Inventaire purgé des éléments non utilisés

In [21]:
inv.head(10)

,Symbole,Désignation,Emplacement,Qté Exist,Prix U,Montant Exis,U d'emploi,Etat
27,1RA87,Patte de fixation coute chauche sur collecteur...,1D6F4D1,1.00,0,0.00,U,NaN
98,2RA132,Master cylindre,1D1A3,1.00,0,0.00,U,NaN
113,RC2,Bouchon de remplissage d'huile,1A20B2,3.00,64.37,193.11,U,NaN
114,RC3,Joint pour bouchon,1D7D2A3,4.00,10.35,41.40,U,NaN
115,RC4,Joint collecteur echappement et admission,1D13S5,2.00,4.56,9.12,U,NaN
116,RC6,Cartouche filtre a huile,1A14B1,0.00,45,0.00,U,NaN
118,RC8,Element de filtre a air,1Z18,0.00,0,0.00,U,NaN
119,RC9,Filtre a huile sinfa,1C8C3,0.00,0,0.00,U,NaN
120,RC10,Element filtre a air sinfa,1A47H3,0.00,0,0.00,U,NaN
121,RC11,Courroie ventilateur,1A26F3,0.00,22.71,0.00,U,NaN