In [1]:
import  pandas as pd
import numpy as np

In [2]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

### Importer Inventaire

In [3]:
inv = pd.read_excel('Inventaire.xlsx',index_col=0)

In [4]:
inv.head(3)

,Symbole,Désignation,Emplacement,Qté Comp,Qté Exist,Prix U,Montant Compt,Montant Exis,U d'emploi,Etat,Unnamed: 11
nan,1RA6,Douille à aiguille de centrage réf 620065,-,nan,nan,NaN,nan,nan,NaN,v,nan
nan,1RA7,Douille d'étanchéité de culasse réf A11299,-,nan,nan,NaN,nan,nan,NaN,v,nan
nan,1RA8,Ressort de rappel de roue de distribution réf ...,-,nan,nan,NaN,nan,nan,NaN,v,nan

### mettre à jour l'incrémentation

In [5]:
inv.reset_index(drop=True,inplace=True)

In [6]:
inv.head()

,Symbole,Désignation,Emplacement,Qté Comp,Qté Exist,Prix U,Montant Compt,Montant Exis,U d'emploi,Etat,Unnamed: 11
0,1RA6,Douille à aiguille de centrage réf 620065,-,nan,nan,NaN,nan,nan,NaN,v,nan
1,1RA7,Douille d'étanchéité de culasse réf A11299,-,nan,nan,NaN,nan,nan,NaN,v,nan
2,1RA8,Ressort de rappel de roue de distribution réf ...,-,nan,nan,NaN,nan,nan,NaN,v,nan
3,1RA9,Vis rotule de culbuteur réf A1244,-,nan,nan,NaN,nan,nan,NaN,v,nan
4,1RA10,Soupape d'admission réf A1247A,-,nan,nan,NaN,nan,nan,NaN,v,nan

### Supprimer les colonnes inutiles

In [7]:
inv = inv.drop(['Qté Comp','Montant Compt','Unnamed: 11'],axis=1)

In [8]:
inv.head(3)

,Symbole,Désignation,Emplacement,Qté Exist,Prix U,Montant Exis,U d'emploi,Etat
0,1RA6,Douille à aiguille de centrage réf 620065,-,nan,NaN,nan,NaN,v
1,1RA7,Douille d'étanchéité de culasse réf A11299,-,nan,NaN,nan,NaN,v
2,1RA8,Ressort de rappel de roue de distribution réf ...,-,nan,NaN,nan,NaN,v

### Format Dataframe

In [9]:
inv.shape

(6471, 8)

## Retirer les éléments vendus

Ces éléments ne font plus partie de l'inventaire ou du RGM

### Extraire les éléments vendus

Etant donné que le fichier source ne respecte pas la casse 'v' VS 'V'.

In [10]:
vs = inv[(inv['Etat'] == 'v') | (inv['Etat'] == 'V')].index

In [11]:
vs.shape

(1205,)

Ceci donne un Dataframe des éléments vendus à soustraire de notre Dataframe Principal

### Soustraire les vendus du DF principal

In [12]:
inv.drop(vs,inplace=True)

In [13]:
inv.shape

(5266, 8)

## Retirer les éléments 'economat' et 'pharmacie'

### Extraire les éléments economat et pharmacie

Les éléments sont identifiés par 'c'

In [14]:
cs = inv[(inv['Etat'] == 'c')].index

In [15]:
cs.shape

(645,)

### Soustraire les éléments 'economat' et 'pharmacie' du DF principal

In [16]:
inv.drop(cs,inplace=True)

In [17]:
inv.shape

(4621, 8)

# Inventaire purgé des éléments non utilisés

In [18]:
inv.head(10)

,Symbole,Désignation,Emplacement,Qté Exist,Prix U,Montant Exis,U d'emploi,Etat
27,1RA87,Patte de fixation coute chauche sur collecteur...,1D6F4D1,1.00,0,0.00,U,NaN
98,2RA132,Master cylindre,1D1A3,1.00,0,0.00,U,NaN
113,RC2,Bouchon de remplissage d'huile,1A20B2,3.00,64.37,193.11,U,NaN
114,RC3,Joint pour bouchon,1D7D2A3,4.00,10.35,41.40,U,NaN
115,RC4,Joint collecteur echappement et admission,1D13S5,2.00,4.56,9.12,U,NaN
116,RC6,Cartouche filtre a huile,1A14B1,0.00,45,0.00,U,NaN
118,RC8,Element de filtre a air,1Z18,0.00,0,0.00,U,NaN
119,RC9,Filtre a huile sinfa,1C8C3,0.00,0,0.00,U,NaN
120,RC10,Element filtre a air sinfa,1A47H3,0.00,0,0.00,U,NaN
121,RC11,Courroie ventilateur,1A26F3,0.00,22.71,0.00,U,NaN

# Séparer le Dataset et isoler les articles dont le symbole commence par un chiffre

In [19]:
inv['Symbole'].str[0]

27        1
98        2
113       R
114       R
115       R
       ...
6466      C
6467      C
6468      C
6469    NaN
6470    NaN
Name: Symbole, Length: 4621, dtype: object

Boucler sur les symbole commençant par un chiffre et regrouper les lignes dans une liste

In [26]:
p = []
for i,row in inv.iterrows():
    x = row['Symbole']
    
    if type(x) is int:
        print("## here is Int !!!",x)
        
    # les valuer Nan sont considérées comme float (à corriger)    
    elif type(x) is float:
        print("## here is float !!!",x)
    
    elif (x[0].isnumeric()):
        p.append(row)
        
    else :
        pass
        
print('Done')

## here is Int !!! 312228
## here is Int !!! 312230
## here is Int !!! 312240
## here is Int !!! 312242
## here is float !!! nan
## here is float !!! nan
Done

Les dernières valeurs semblent être Nan

In [21]:
inv['Symbole'].tail()

6466    CF4
6467    CF5
6468    CF6
6469    NaN
6470    NaN
Name: Symbole, dtype: object

Générer une liste de Series respectant les conditions

In [22]:
p[:2]

[Symbole                                                     1RA87
 Désignation     Patte de fixation coute chauche sur collecteur...
 Emplacement                                               1D6F4D1
 Qté Exist                                                    1.00
 Prix U                                                          0
 Montant Exis                                                 0.00
 U d'emploi                                                      U
 Etat                                                          NaN
 Name: 27, dtype: object,
 Symbole                  2RA132
 Désignation     Master cylindre
 Emplacement               1D1A3
 Qté Exist                  1.00
 Prix U                        0
 Montant Exis               0.00
 U d'emploi                    U
 Etat                        NaN
 Name: 98, dtype: object]

Réassembler les éléments de la liste en un dataframe

In [23]:
nums = pd.DataFrame(p,columns=['Symbole', 'Désignation', 'Emplacement', 'Qté Exist', 'Prix U',
       'Montant Exis', "U d'emploi", 'Etat'])

In [24]:
nums

,Symbole,Désignation,Emplacement,Qté Exist,Prix U,Montant Exis,U d'emploi,Etat
27,1RA87,Patte de fixation coute chauche sur collecteur...,1D6F4D1,1.00,0,0.00,U,nan
98,2RA132,Master cylindre,1D1A3,1.00,0,0.00,U,nan
252,2RD2,Elément filtre à air réf. 77 00 678 752,1B5J3,0.00,87,0.00,U,nan
253,2RD3,Elément filtre à huile réf. 50 00 816 070,1B16D3,0.00,40,0.00,U,nan
254,2RD4,Elément filtre à gasoil réf. 77 01 028 181,1C4C2,0.00,44,0.00,U,nan
...,...,...,...,...,...,...,...,...
5857,3LG24,Agrafe Hermique record N° 0 élement de 30cm,1Z20,88.00,138,12144.00,U,nan
5858,3LG26,Crampon pour agraf Hermique record N°0,1D8A1,5.00,165,825.00,U,nan
5859,3LG28,Trimgle de 6mm longeur 480,1A41C1,0.00,0,0.00,U,nan
5860,3LG3,Bande Transporteuse largeur 500 2 plis nylon,Parc,0.00,242.50,0.00,M,nan
5861,3LG4,Bande Transporteuse largeur 600 2 plis nylon,Parc,0.00,300,0.00,M,nan

Reset de l'index

In [28]:
nums.reset_index()

,index,Symbole,Désignation,Emplacement,Qté Exist,Prix U,Montant Exis,U d'emploi,Etat
0,27,1RA87,Patte de fixation coute chauche sur collecteur...,1D6F4D1,1.00,0,0.00,U,nan
1,98,2RA132,Master cylindre,1D1A3,1.00,0,0.00,U,nan
2,252,2RD2,Elément filtre à air réf. 77 00 678 752,1B5J3,0.00,87,0.00,U,nan
3,253,2RD3,Elément filtre à huile réf. 50 00 816 070,1B16D3,0.00,40,0.00,U,nan
4,254,2RD4,Elément filtre à gasoil réf. 77 01 028 181,1C4C2,0.00,44,0.00,U,nan
...,...,...,...,...,...,...,...,...,...
1627,5857,3LG24,Agrafe Hermique record N° 0 élement de 30cm,1Z20,88.00,138,12144.00,U,nan
1628,5858,3LG26,Crampon pour agraf Hermique record N°0,1D8A1,5.00,165,825.00,U,nan
1629,5859,3LG28,Trimgle de 6mm longeur 480,1A41C1,0.00,0,0.00,U,nan
1630,5860,3LG3,Bande Transporteuse largeur 500 2 plis nylon,Parc,0.00,242.50,0.00,M,nan
1631,5861,3LG4,Bande Transporteuse largeur 600 2 plis nylon,Parc,0.00,300,0.00,M,nan

### Exporter le Dataframe au format excel

In [27]:
nums.to_excel("Symbole_numeric.xlsx")

### Extraire ce sous ensemble du Dataframe