In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.2f' % x)

### Base SACEM

In [2]:
sacem = pd.read_excel("RGM_Final.xlsx")

**Sorting the dataframe**

In [3]:
sacem = sacem.sort_values(by=['Code Article'])

In [4]:
sacem.reset_index(drop=True,inplace=True)

In [5]:
sacem.head(3)

,Compte de stock,Code Famille,Désignation Famille,Code sous famille,Désignation Sous famille,Code Article,Désignation Article,Emplacement,Stock Physique,Prix,Montant EX,Unité,Etat,Unnamed: 13
0,312212.00,S,MOTEURS,SH,Caterpillard,10SH107,AXE DE CDE REF 7B 5459,1D1G8B,2.00,0,0.00,U,*,nan
1,312212.00,S,MOTEURS,SH,Caterpillard,10SH109,Bague réf 8F 8523,1E36J1,29.00,0,0.00,U,NaN,nan
2,312212.00,S,MOTEURS,SH,Caterpillard,10SH111,BAGUE REF 1F6887,1C5F4F1,5.00,0,0.00,U,*,nan

In [6]:
sacem.shape

(4596, 14)

### Base Rachad

In [7]:
rachad = pd.read_excel("RGM_Rachad.xls")

In [8]:
rachad = rachad.sort_values(by=['Code Article'])

In [9]:
rachad.reset_index(drop=True,inplace=True)

In [10]:
rachad.head(3)

,id Odoo,Nom,Code Article,Type d'article,Catégorie interne/Nom affiché,Unité de mesure/Nom affiché,Coût,Quantité en stock,Valeur de stock,Emplacement/Display Name
0,__export__.product_template_18213,AXE DE CDE REF 7B 5459,10SH107,Produit stockable,S-->MOTEURS / SH-->Caterpillard,U,0.00,2,0.00,1D1G8B
1,__export__.product_template_18215,Bague réf 8F 8523,10SH109,Produit stockable,S-->MOTEURS / SH-->Caterpillard,U,0.00,29,0.00,1E36J1
2,__export__.product_template_18216,BAGUE REF 1F6887,10SH111,Produit stockable,S-->MOTEURS / SH-->Caterpillard,U,0.00,5,0.00,1C5F4F1

In [11]:
rachad.shape

(4595, 10)

## Compare the 2 Datasets

In [12]:
slist = sacem['Code Article'].values.tolist()

In [13]:
len(slist)

4596

In [14]:
rlist = rachad['Code Article'].values.tolist()

In [15]:
len(rlist)

4595

In [16]:
set(slist) - set(rlist)

{nan}

## Merge the 2 lists

In [18]:
merged = pd.merge(sacem,rachad,on=['Code Article'])

In [19]:
merged.shape

(4595, 23)

In [20]:
merged.head()

,Compte de stock,Code Famille,Désignation Famille,Code sous famille,Désignation Sous famille,Code Article,Désignation Article,Emplacement,Stock Physique,Prix,...,Unnamed: 13,id Odoo,Nom,Type d'article,Catégorie interne/Nom affiché,Unité de mesure/Nom affiché,Coût,Quantité en stock,Valeur de stock,Emplacement/Display Name
0,312212.00,S,MOTEURS,SH,Caterpillard,10SH107,AXE DE CDE REF 7B 5459,1D1G8B,2.00,0,...,nan,__export__.product_template_18213,AXE DE CDE REF 7B 5459,Produit stockable,S-->MOTEURS / SH-->Caterpillard,U,0.00,2,0.00,1D1G8B
1,312212.00,S,MOTEURS,SH,Caterpillard,10SH109,Bague réf 8F 8523,1E36J1,29.00,0,...,nan,__export__.product_template_18215,Bague réf 8F 8523,Produit stockable,S-->MOTEURS / SH-->Caterpillard,U,0.00,29,0.00,1E36J1
2,312212.00,S,MOTEURS,SH,Caterpillard,10SH111,BAGUE REF 1F6887,1C5F4F1,5.00,0,...,nan,__export__.product_template_18216,BAGUE REF 1F6887,Produit stockable,S-->MOTEURS / SH-->Caterpillard,U,0.00,5,0.00,1C5F4F1
3,312212.00,S,MOTEURS,SH,Caterpillard,10SH112,BAGUE REF 8F 9808,1E32D1,7.00,0,...,nan,__export__.product_template_18217,BAGUE REF 8F 9808,Produit stockable,S-->MOTEURS / SH-->Caterpillard,U,0.00,7,0.00,1E32D1
4,312212.00,S,MOTEURS,SH,Caterpillard,10SH113,BATI REF 8B 4990,1C12A6,1.00,0,...,nan,__export__.product_template_18218,BATI REF 8B 4990,Produit stockable,S-->MOTEURS / SH-->Caterpillard,U,0.00,1,0.00,1C12A6

In [21]:
merged.to_excel("RGM_Merged.xlsx")